#!/bin/bash
sudo echo "migrate_set_capability cuju-ft on" | sudo nc -w 1 -U /home/{{ ansible_ssh_user }}/vm1.monitor
sudo echo "migrate -c tcp:{{ backup_host_ip_10G }}:4441" | sudo nc -w 1 -U /home/{{ ansible_ssh_user }}/vm1.monitor

